@mixin btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.todo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.todo__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}
.todo__list:first-child {
  margin: 18px 0 10px;
}

.todo-list__input {
  display: inline-block;
  min-width: 250px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
}

.todo-list__button-complete,
.todo-list__button-edit,
.todo-list__button-delete {
  @include btn;
}

.todo-list__button-complete {
  color: #ff6c6c;
  margin-right: 10px;
}
.todo-list__button-edit {
  color: #e2d209;
  margin-right: 10px;
}

.todo-list__button-delete {
  color: lightseagreen;
}

.todo-list__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.todo-list__complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}
