@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.header {
  margin: 0px 0 15px;
  color: #fafafa;
  text-align: center;
  font-family: "Alkatra", cursive;
  font-size: 40px;
}
