.container {
  box-sizing: border-box;
  background-color: #016887;
  background: linear-gradient(to right, #026989, #01868d);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    background-color: #96239680;
    width: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
  }
}
