@import "../node_modules/normalize-scss/sass/normalize";
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #016887;
  background: linear-gradient(to right, #026989, #01868d);
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: #96239680;
  width: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  overflow-x: hidden;
  overflow-y: auto;

  &__button {
    width: 50%;
    padding: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-family: "Alkatra", cursive;
    border-radius: 15px;
    border: 0;
    background-color: #f80000c9;
    cursor: pointer;
  }

  &__button:hover {
    background-color: #ee3005;
    font-size: 21px;
  }
}
@media (max-width: 451px) {
  .container {
    margin: 15px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__input {
    outline: none;
    width: 100%;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #ccc;
    background-color: #000000;
    border: 1px solid #c89666;
    border-radius: 10px;
  }

  &__submit-button {
    width: 70px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
  }
  &__update-button {
    width: 50%;
    padding: 15px;
    margin-right: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #e2d209;
    cursor: pointer;
  }
  &__back-button {
    width: 50%;
    padding: 15px;
    margin-right: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #ee3005;
    cursor: pointer;
  }
  &__updateItems {
    margin: 0 10px 5px;
    color: #fafafacd;
    text-align: center;
    font-family: "Alkatra", cursive;
    font-size: 20px;
    font-style: italic;
  }
}
@media (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
    width: auto;

    &__input {
      margin-bottom: 5px;
    }
    &__update-button {
      margin-bottom: 5px;
    }
    &__submit-button {
      width: 50%;
      font-size: 20px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 400px) {
  .form__input {
    font-size: 15px;
  }
}

.todo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 10px 0 10px;
  border: solid 2px #c89666;
  border-radius: 25px;
  background-color: #593f3fc8;
  padding: 7px;

  &__list {
    width: auto;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
  }
  span {
    min-width: 250px;
    width: 100%;
    background-color: transparent;
    color: #ccc;
    font-size: 20px;
    padding-left: 10px;
  }
}

.input-and-btn {
  display: flex;
  width: 100%;
}

@media (max-width: 451px) {
  .input-and-btn {
    width: auto;
  }
}

.delete-all {
  width: 400px;
}

@media (max-width: 451px) {
  .delete-all {
    width: 50%;
  }
}

.actions-box {
  cursor: pointer;
}

.back-btn {
  margin-top: 5px;
  width: 100%;
}
