@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap");

.buttonBackHome {
  position: absolute;
  padding-top: 20px;
}

.sectionRegistration {
  background-image: linear-gradient(to bottom right, #c0b3df, #471153);
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 100px;
  padding: 35px;
  min-width: 300px;
  width: 500px;
}

@media (max-width: 587px) {
  .sectionRegistration {
    min-height: 600px;
  }
}

.registratioHeader {
  font-size: 45px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #9051cf, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

.registrationButtonBlock {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.registrationSubmitButton {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Caveat", cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  width: 70%;
  max-width: 100%;
  min-width: 140px;
  min-height: 39px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.registrationSubmitButton:active,
.registrationSubmitButton:hover {
  outline: 0;
}
